<!doctype html>
<!--html 기본 구조로 만들기 위해 기본틀을 만듦-->
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap 링크 -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- 인라인 스타일 -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>저에게 질문을 남겨주세요!</title>
</head>
<body>
<!-- 자바 코드가 템플릿으로 들어오는 부분 -->
<div layout:fragment="content" class="container my-3">
</div>

</body>
</html>
